Django==5.2.8
sqlparse==0.5.3
argon2-cffi==21.3.0
requests==2.32.5
beautifulsoup4==4.14.2
Jinja2==3.1.6
PyYAML==6.0.3
httpx==0.28.1
idna==3.11
urllib3==2.5.0
charset-normalizer==3.4.4
certifi==2025.10.5
packaging==25.0
colorama==0.4.6
soupsieve==2.8
MarkupSafe==3.0.3
